<div class="row backGround parent" style="width: 100%;margin: 0px;">
  <div class="col-sm child">
    <div class="row">
      <div class="col-sm">
         <h6>Pipe</h6>
      </div>
   </div>
   <mat-card class="">
      <!-- Login form -->
      <form class="example-form" [formGroup]="registrationForm">
         <div class="row">
            <div class="col-sm registrationText">Registration</div>
         </div>
         <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;" >
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name"  formControlName="firstName" required>
            <mat-error *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <mat-error *ngIf="f.firstName.errors.required">First Name is required</mat-error>
          </mat-error>
          <mat-error *ngIf="!submitted && f.firstName.invalid"> First Name is required</mat-error>
         </mat-form-field>
         <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name"  formControlName="lastName"  required>
            <mat-error *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <mat-error *ngIf="f.lastName.errors.required">Last Name is required</mat-error>
          </mat-error>
          <mat-error *ngIf="!submitted && f.lastName.invalid"> Last Name is required</mat-error>
         </mat-form-field>
         <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Email</mat-label>
          <input matInput placeholder="pat@example.com"  formControlName="email" required>
          <mat-error *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <mat-error *ngIf="f.email.errors.required">Email is required</mat-error>
        </mat-error>
        <mat-error *ngIf="!submitted && f.email.invalid"> Email is required</mat-error>
          <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
         <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password"  formControlName="password" required>
          <mat-error *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <mat-error *ngIf="f.password.errors.required">Password is required</mat-error>
        </mat-error>
        <mat-error *ngIf="!submitted && f.password.invalid"> Password is required</mat-error>
       </mat-form-field>
       <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
        <mat-label>Confirm Password</mat-label>
        <input matInput placeholder="Confirm Password"  formControlName="confirmPassword" required>
        <mat-error *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
          <mat-error *ngIf="f.confirmPassword.errors.required">Confirm Password is required</mat-error>
      </mat-error>
      <mat-error *ngIf="!submitted && f.confirmPassword.invalid">Confirm Password is required</mat-error>
     </mat-form-field>
         <button (click)="registration(registrationForm.value)"mat-raised-button color="primary">Register</button>
      </form>
      <!-- end of login form -->
      <!-- Login and forget password started -->
      <div class="row" style="margin-top: 10px;">
         <div class="col-sm"  style="text-align: left;">
            <a href="" routerLink="/Login">sign in</a>
         </div>
         <div class="col-sm" style="text-align: right;color: black;">
            <a routerLink="/fogetpassword">Forget password?</a>
         </div>
      </div>
      <!-- registration and forget password end -->
   </mat-card>
    </div>
    </div>
