<div class="row parent" style="width: 100%;margin: 0px;">
  <div class="col-sm child">
     <div class="row">
        <div class="col-sm">
           <h6>Pipe</h6>
        </div>
     </div>
     <mat-card class="">
        <!-- Login form -->
        <form class="example-form" [formGroup]="forgetPasswordForm">
           <div class="row">
              <div class="col-sm loginText">Forgot Password</div>
           </div>
           <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" formControlName="email">
              <mat-error *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <mat-error *ngIf="f.email.errors.required">Email is required</mat-error>
            </mat-error>
            <mat-error *ngIf="!submitted && f.email.invalid">Email is required</mat-error>
           </mat-form-field>
           <button (click)="forgetPassword(forgetPasswordForm.value)" mat-raised-button color="primary" style="margin-top: 10px;">Send Request</button>
           <div class="row" style="margin-top: 10px;">
              <div class="col-sm" style="text-align: center;">
                <p>You will recieve an email link to reset your password</p>
              </div>
           </div>
        </form>
     </mat-card>
  </div>
</div>
