mat-toolbar{
  background-color: white;
  box-shadow: 0px 0px 2px 1px #9c9c9c;
    position: fixed;
    z-index: 1;
}
.order{
  margin-top: 4px;
    margin-left: 132px;
    font-size: 20px;
}
.navbar{
  width: 100%;
    position: fixed;
    z-index: 3;
    position: fixed;
    top: 0px;
    background-color: #ffffff;
}
.pipeButton{
  position: absolute;
    width: 100px;
    height: 63px;
    left: 0px;
    color: white!important;
    top: 0px;
    text-align: center;
    background: #0038FF;
    border-radius: 0px 0px 25px 0px;
    cursor: pointer;
}
.pipeButton p{
  margin-top: 14px;
}
.orderButton{

    margin-right: 20px;
    float: right;
  font-weight: 500;
font-size: 18px;
margin-left: 100px;
/* identical to box height */


color: #000000;
}
