
mat-toolbar {
  background-color: white;
  position: fixed;
  z-index: 1;
  top: 66px;
  box-shadow: 0px 0px 2px 0px #bbbbbb;
  margin-top: -2px;
  width: 100%;
  height: 65px;
}
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .glyphicon {
position: absolute;
padding: 15px;
pointer-events: none;
}
.form-control:focus {
  border: 2px solid;
  border-color: rgba(0,0,0,.87);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0), 0 0 0px rgba(0,0,0,.87)
}

.label{
  font-weight: 500;
    font-size: 14px;
}
.selectpicker:focus{
  border: 2px solid;
  border-color: rgba(0,0,0,.87);
  border-radius: 5px;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0), 0 0 0px rgba(0,0,0,.87)!important;
}
.selectpicker{
  width: 100%;
    height: 50px;
    /* border: 2px solid; */
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0), 0 0 0px rgba(0,0,0,.87)!important;
    border-radius: 5px;
}
/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  10px; height: 50px;}
.left-addonSearch input{padding-left: 40px; height: 50px;}
.right-addon input { padding-right: 30px; }

.circleNumber{
  margin-top: 2px;
  text-align: center;
}
.material-icons {
  font-family: "Material Icons" !important;
}
mat-form-field {
  width: 100%;
}
::ng-deep
  .mat-checkbox-checked.mat-accent
  .mat-checkbox-ripple
  .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #005691 !important;
}
mat-label .lable{
  font-weight: 500;
  font-size: 12px;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #005691;
}
.mat-select-value-text {
  font-size: 25px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.margin {
  margin-top: 40px;
  padding-left: 0px;
}
.padding {
  padding-right: 2px !important;
  padding-left: 18px !important;
}
p {
  margin: 0px;
}


::ng-deep.mat-form-field-should-float {
  text-align: left;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.steperline {
  margin-left: -7px;
  width: 100%;
  margin-top: 20px;
  padding: 0px;
  height: 1px;
  background-color: black;
  margin-left: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
.button {
  font-weight: 500;
  font-size: 16px;
  background-color: white !important;
  color: blue;
}
.orderTypeWhichEye {
  width: 100%;
  border: 1px solid #b7b5b5;
  height: 45px;
  font-size: 18px;
}
.button:hover {
  font-weight: 500;
  font-size: 16px;
  background-color: blue !important;
  color: white;
}
.circle {
  width: 40px;
  height: 40px;
  border: 1px solid;
  border-radius: 41px;
}
.circle:hover {

  width: 40px;
  height: 40px;
  border: 1px solid;
  border-radius: 41px;
  background-color: blue;
  color: white;
  cursor: pointer;
}
.printSaveButton{
  margin-right: 10px;
  width: 150px;
  margin-right: 10px;
  position: relative;
  height: 56px;
}
.firstrowLensSelection{
  margin-top: 30px!important;
    border: 1px solid;
    border-radius: 5px;
    background-color: #EFEFEF;
    padding: 20px;
    margin-top: 40px;
}
.orderReview{
  font-size: 18px;
    width: 184px;
    background-color: blue;
    height: 56px;
}
.horzontal{
  width: 1px;
    background-color: black;
    height: 100%;
    opacity: 0.2;
}
::ng-deep.toggle.mat-slide-toggle-bar {
  height: 20px !important;
  width: 50px !important;
  border-radius: 15px!important;
}


.useThis{
  text-align: center!important;
    margin-top: 18px!important;
}
.mat-slide-toggle-thumb-container {
  width: 20px !important;
  height: 20px !important;
  top: -2px !important;
}
h5{
  font-weight: 600;
  font-size: 23px;
}
::ng-deep .mat-checkbox-label{
  font-weight: 700;
}
.mt{
  margin-top: 10px!important;
}
.mt-20{
  margin-top: 20px!important;
}
.mt-30{
  margin-top: 30px!important;

}
.mb{
  margin-bottom: 10px!important;
}
.right{
  margin-top: 6px;
  font-size: 19px;
}
.soft{
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
    height: 50px;
    width: 100%;
    background-color: #F0F0F0;
}
.soft p{
  margin-left: 25px;
    position: absolute;
    margin-top: 13px;
}
.paddingDiv{
  border: 1px solid;
  border-radius: 8px;
  margin-top: 23px;
  border: 1px solid;
}
::ng-deep.mat-slide-toggle-bar {
  height: 25px !important;
  width: 50px !important;
  border-radius: 15px!important;
}
::ng-deep.mat-slide-toggle-thumb {
  height: 22px !important;
    width: 23px !important;
    margin-top: 2px;
    margin-left: 3px;
    margin-top: 3px;
}

.followFront{
  font-size: 15px;
    font-weight: 600;
  position: absolute;
  height: 53px;
  width: 87%;
    background-color: #F0F0F0;
    border-radius: 5px;
    text-align: center;
}
::ng-deep.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: blue;
}
::ng-deep.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #ffffff;
}
::ng-deep.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
  transform: translate3d(20px,0,0) !important;
}
::ng-deep.mat-slide-toggle-thumb-container {
  width: 20px !important;
  height: 20px !important;
  top: -2px !important;
}
.leftCircle{
position: absolute;
  text-align: center;
  width: 45px;
  height: 45px;
  background-color: #E9E9E9;
  border-radius: 30px;
  margin-top: -5px;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 1em 0 1em 0;
}
::ng-deep .mat-form-field-hide-placeholder .mat-form-field-label-wrapper {
  text-align: center;
  top: -25px;
}

.rightCircle{
  position: absolute;
  text-align: center;
  width: 45px;
  height: 45px;
  background-color: #E9E9E9;
  border-radius: 30px;
  margin-top: -5px;
}
::ng-deep .mat-form-field-should-float {
  text-align: center;
}
::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: blue!important;
}
::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: blue;
}
.bg-light {
  background-color: #ffffff!important;
}
.icons{
  margin-bottom: 10px;
  border-radius: 30px;
    text-align: center;
    float: right;
    width: 50px;
    height: 50px;
    background-color: #e6e2e2;
}
.errorIconn{
  font-size: 30px;
    color: red;
    text-align: center;
    margin-top: 7px;
}
.mapTracingButtonn{
  width: 100%;
    height: 50px;
    background-color: blue;
    color: white;
}
mat-card{
  margin-top: 50px;
  margin-bottom: 50px;
}
mat-card-title {
  font-size: 25px;
  line-height: 30px;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
}
::nag-deep .mat-card-header-text {
  margin: 0px !important;
}
.line {
  width: 100%;
  height: 1px;
  background-color: black;
}
.row {
  width: 100%;
  margin: 0px;
}
.div {
  position: absolute;
  margin-top: 66px;
}
.firstTopRow {
  width: 100%;
  top: 130px;
  width: 100%;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.02);
  /* margin-top: 139px; */
  position: relative;
}
